.nav {
  display: flex;
  width: 100%;
}

.upper {
  width: 100%;
  display: flex;
  gap: 18.22px;
  margin-top: 64px;
}

.activity {
  margin-top: 13.43px;
  width: 100%;
}

.loader {
  width: 100%;
  text-align: center;
}

@media (max-width: 1024px) {
  .upper {
    gap: 12.96px;
    margin-top: 27px;
  }
}

@media (max-width: 778px) {
  .upper {
    gap: 12.96px;
    margin-top: 0;
  }
}
