.button {
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
  background-color: #141416;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}

.big {
  font-size: 16.17px;
  font-weight: 600;
  padding: 16px 24px;
}

.middle {
  font-size: 14.8px;
  font-weight: 500;
  padding: 13px 23px;
}

.small {
  font-size: 10.26px;
  font-weight: 600;
  padding: 11px 18px;
}

@media (max-width: 1280px) {
  .big {
    font-size: 14px;
    padding: 13px 19px;
  }
}

@media (max-width: 1024px) {
  .big {
    font-size: 11.5px;
    padding: 11.5px 17.25px;
  }

  .middle {
    font-size: 10.53px;
    padding: 9px 16px;
  }

  .small {
    font-size: 7.3px;
    padding: 7.8px 12.97px;
  }
}

@media (max-width: 778px) {
  .middle {
    font-size: 11.23px;
    padding: 9.67px 17.26px;
    border-radius: 8.57px;
  }

  .small {
    border-radius: 6.13px;
  }
}
